@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Brands;
    src: url(../fonts/Brands/fa-brands-400.ttf);
}
@font-face {
    font-family: Icons;
    src: url(../fonts/Brands/fa-solid-900.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Secular;
    src: url(../fonts/SecularOne-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    border-left: 1px solid #ff7f00;
    border-right: 1px solid #ff7f00;
}

/* HEADER */
header {
    background-color: #ff7f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    height: 7vh;
    padding-left: 25px;
}
img.logo {
    width: 66.5px;
    height: 11px;
    object-fit: contain;
}
header nav {
    z-index: 2;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 7vh;
    height: 100%;
    justify-content: center;
    align-items: stretch;
}

header nav ul li {
    margin-left: 1.25rem;
    display: inline-flex;
}

header nav ul li a {
    cursor: pointer;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 0.593rem;
    text-decoration: none;
}
header nav ul li a:hover {
    color: #040a2c;
    border-bottom: 2px solid #040a2c;
}

/* MEMES */
.memes {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
}
.memes img {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    cursor: pointer;
}

/* SEARCH */
.search-container {
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 4rem;
}
.search-container.more {
    height: 100%;
}
.search-container.more .search-tags {
    flex-wrap: wrap;
}
.search-container .clear::before {
    font-family: Icons;
    content: '\f00d';
    font-style: normal;
    cursor: pointer;
}
.search-container input::placeholder {
    color: #7a7a7a;
}
.search-container input {
    border: none;
    border-bottom: 1px solid #040a2c;
    font-size: 0.59rem;
    font-weight: 500;
    line-height: 1.2;
    width: 105px;
    background-image: url('../img/ICONS/search-icon.png');
    background-position: 110px 1px;
    background-size: 10px;
    background-repeat: no-repeat;
    padding-right: 15px;
    z-index: 1;
}

.search-container input:focus-visible {
    outline: none;
}

.search-tags {
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    overflow: hidden;
    align-items: center;
    mix-blend-mode: screen;
}

.search-tags span {
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}
.search-tags span:hover {
    font-weight: 700;
}

.search-container a {
    padding: 10px;
    margin-right: 25px;
    font-size: 0.5rem;
    text-decoration: underline;
    cursor: pointer;
}

/* GALLERY */
.gallery {
    background-color: #e3e3e3;
    padding: 15px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    width: 176.5px;
    height: 139px;
    margin: 0 10.5px 11px 0;
    object-fit: contain;
    cursor: pointer;
}

/* ABOUT ME */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.about img {
    height: 161px;
    width: 161px;
    border-radius: 50%;
    margin-right: 20px;
}
.about div {
    width: 360px;
}
.about div h4 {
    margin-bottom: 5px;
}
.about div p {
    margin-top: 0;
}

.socials a {
    font-family: Brands;
    font-size: 19px;
    color: #ff7f00;
    text-decoration: none;
    margin-right: 5px;
}
.socials a:nth-of-type(1)::before {
    content: '\f08c';
}
.socials a:nth-of-type(2)::before {
    content: '\f082';
}
.socials a:nth-of-type(3)::before {
    content: '\f092';
}

/* EDITOR */
.editor {
    display: none;
    background-color: #e3e3e3;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    height: 71vh;
}
.canvas-container {
    width: 40vw;
    height: 40vw;
    margin-right: 30px;
}
.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.meme-text {
    box-sizing: border-box;
    border: 0;
    border-radius: 6px;
    color: black;
    width: 100%;
    height: 2.5rem;
    padding: 5px 0.5px 0 10px;
}
.tools-row1 {
}
.icon {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    margin-right: 9.5px;
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
}
.tools-row2 {
    width: 100%;
    justify-content: space-between;
}
.tools-row2 > img:last-child {
    margin-right: 0;
}

.tools-row3 {
    width: 100%;
    justify-content: space-between;
}
.tools-row3 > img:last-child {
    margin-right: 0;
}
.tools-row3 .font {
    background-color: #fff;
    border: 0;
    border-radius: 6px;
    padding: 9px 6px 9px 10px;
    margin-right: 9px;
    font-size: 0.625rem;
}
.tools-row3 .font option {
}
.text-stroke {
    height: 0;
    width: 0;
    visibility: hidden;
}
.text-stroke-icon {
    background-color: #000;
}

.text-color {
    height: 0;
    width: 0;
    visibility: hidden;
}

.tools-row4 {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    padding: 16px 4px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tools-row4 img {
    height: 24px;
    cursor: pointer;
}
.stickers {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.stickers img {
    height: 35px;
    cursor: pointer;
}

.tools-row5 {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tools-row5 button {
    background-color: #ff7f00;
    padding: 10px 5px;
    border-radius: 6px;
    border: 0;
    font-size: 0.625rem;
    cursor: pointer;
    font-family: Montserrat;
    height: 2.5rem;
    min-width: 50px;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #ff7f00;
    height: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer img {
    height: 11px;
    width: 66.5px;
    margin-bottom: 9px;
}
footer small {
    font-size: 0.59rem;
    color: #fff;
}

/* HELPERS */
.flex {
    display: flex;
}
.selectable {
    cursor: pointer;
}
.hidden {
    display: none;
}

@media (max-width: 800px) {
    .meme-text {
        height: 1.5rem;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
    .tools-row5 button {
        height: 2rem;
        min-width: unset;
    }
}
@media (max-width: 500px) {
    header nav {
        background-color: #ff7f00;
        height: 0;
        /* position: absolute; */
        top: 7vh;
        left: 0;
        width: 100%;
    }
    header nav.shown {
        position: absolute;
        top: 7vh;
        left: 0;
        width: 100%;
        height: 140px;
        transition: height 1s;
    }
    header nav.shown ul {
        /* display: flex; */
        visibility: visible;
        opacity: 1;
        transition: opacity 2.5s;
    }
    header nav ul {
        flex-direction: column;
        /* display: none; */
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s;
    }
    header nav ul li,
    header nav ul li a {
        color: #fff;
        width: 95%;
    }
    .hamburger-btn::before {
        /* hamburger icon */
        content: '\f805';
        /* bars icon
        f0c9  */
    }
    nav.shown .hamburger-btn::before {
        content: '\f00d';
    }
    nav.shown .hamburger-btn {
        top: -32px;
    }
    .hamburger-btn {
        font-family: Icons;
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 10px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 1.25rem;
        color: #fff;
        padding: 5px;
    }

    .search-container.hidden {
        display: none;
    }
    .search-container {
        display: grid;
        grid-template-areas:
            'clear search search'
            'tags tags more';
        grid-template-rows: 20px 1fr;
        grid-template-columns: 1fr 1fr 50px;

        padding: 0;
        margin: 10px 0;
        height: 60px;
    }
    .search-container .clear {
        grid-area: clear;
        justify-self: right;
        transform: translateX(-1rem);
    }
    .search-container input {
        grid-area: search;
        justify-self: left;
        transform: translateX(-1rem);
    }
    .search-tags {
        grid-area: tags;
        font-size: 8px;
        margin: 10px 0;
        width: 100%;
        justify-content: space-around;
    }
    .search-tags span {
        padding: 2px;
        margin: 0;
        /* z-index: -1; */
    }
    .search-container a {
        grid-area: more;
        margin-right: 0;
    }
    .gallery {
        padding: 5px 5px;
    }
    .gallery img {
        width: 28vw;
        height: 28vw;
        margin: 2px;
    }
    .about {
        flex-direction: column;
        height: unset;
        padding: 20px 0;
    }
    h4 {
        color: #ff7f00;
        font-size: 0.68rem;
    }
    .about img {
        width: 80px;
        height: 80px;
        margin-right: 0;
    }
    .about div {
        width: unset;
        margin: 10px 20px;
        text-align: center;
    }
    .about p {
        font-size: 0.5rem;
    }
    .socials a {
        font-size: 2em;
    }
    .editor {
        flex-direction: column;
        height: unset;
    }
    .canvas-container {
        margin-right: 0;
    }
    .tools {
        margin-top: 10px;
    }
    .tools > div {
        margin-top: 10px;
    }
    .icon {
        width: 35px;
        height: 35px;
    }
    .tools .meme-text {
        height: 2rem;
    }
    .tools-row4 {
        padding: 4px 4px;
    }
    .tools-row5 button {
        min-width: 50px;
    }
}
